.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.740234;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.935369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.731445;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.937500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.692383;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.908203;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.838867;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.838867;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc5{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.sc4{text-shadow:-0.015em 0 rgb(44,44,45),0 0.015em rgb(44,44,45),0.015em 0 rgb(44,44,45),0 -0.015em  rgb(44,44,45);}
.sc0{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
.sc2{text-shadow:-0.015em 0 rgb(230,30,40),0 0.015em rgb(230,30,40),0.015em 0 rgb(230,30,40),0 -0.015em  rgb(230,30,40);}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc3{text-shadow:-0.015em 0 rgb(149,149,151),0 0.015em rgb(149,149,151),0.015em 0 rgb(149,149,151),0 -0.015em  rgb(149,149,151);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc5{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.sc4{-webkit-text-stroke:0.015em rgb(44,44,45);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(230,30,40);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc3{-webkit-text-stroke:0.015em rgb(149,149,151);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.128000px;}
._3{width:1.174850px;}
._2{width:2.228592px;}
._7{width:3.240005px;}
._4{width:67.099997px;}
._6{width:82.299997px;}
._5{width:83.699997px;}
._1{width:85.099997px;}
._9{width:915.840027px;}
._8{width:1059.840027px;}
.fc4{color:rgb(44,44,45);}
.fc0{color:rgb(255,0,0);}
.fc1{color:rgb(230,30,40);}
.fc2{color:rgb(255,255,255);}
.fc3{color:rgb(149,149,151);}
.fs7{font-size:32.000000px;}
.fs3{font-size:40.000000px;}
.fs2{font-size:48.000000px;}
.fsc{font-size:56.000000px;}
.fs5{font-size:64.000000px;}
.fs4{font-size:66.000000px;}
.fs9{font-size:68.000000px;}
.fs8{font-size:70.000000px;}
.fsa{font-size:72.000000px;}
.fsb{font-size:74.000000px;}
.fs6{font-size:104.000000px;}
.fs1{font-size:112.000000px;}
.fs0{font-size:128.000000px;}
.y0{bottom:0.000000px;}
.y4{bottom:18.257181px;}
.y9{bottom:50.234895px;}
.yd{bottom:54.930314px;}
.y3{bottom:55.071428px;}
.yf{bottom:55.635148px;}
.ye{bottom:55.919846px;}
.y1d{bottom:114.522964px;}
.y1c{bottom:133.722977px;}
.y1b{bottom:152.922989px;}
.y2d{bottom:163.911259px;}
.y1a{bottom:173.173264px;}
.y2c{bottom:185.511259px;}
.y19{bottom:229.723007px;}
.y18{bottom:248.923004px;}
.y22{bottom:260.304802px;}
.y23{bottom:264.513871px;}
.y17{bottom:268.123001px;}
.y2{bottom:269.052500px;}
.y21{bottom:281.904800px;}
.y2b{bottom:286.841801px;}
.y16{bottom:288.373260px;}
.y20{bottom:303.504799px;}
.y2a{bottom:308.441801px;}
.y1{bottom:309.110603px;}
.y32{bottom:337.192974px;}
.y15{bottom:344.922981px;}
.y1f{bottom:346.704796px;}
.yc{bottom:347.539780px;}
.y7{bottom:353.201874px;}
.y14{bottom:365.173248px;}
.y1e{bottom:368.070404px;}
.y26{bottom:380.026052px;}
.y10{bottom:383.811509px;}
.yb{bottom:384.889519px;}
.y31{bottom:386.619047px;}
.y6{bottom:391.601875px;}
.y13{bottom:402.522987px;}
.ya{bottom:404.089523px;}
.y5{bottom:410.801876px;}
.y27{bottom:413.641637px;}
.y30{bottom:415.819052px;}
.y29{bottom:415.931081px;}
.y12{bottom:421.722988px;}
.y11{bottom:441.973252px;}
.y2f{bottom:445.019049px;}
.y25{bottom:451.531957px;}
.y28{bottom:451.850141px;}
.y24{bottom:483.189835px;}
.y8{bottom:483.189837px;}
.y2e{bottom:489.602905px;}
.h7{height:21.687500px;}
.h4{height:28.750000px;}
.h3{height:39.937500px;}
.hb{height:46.593750px;}
.h5{height:53.000000px;}
.h8{height:53.250000px;}
.h9{height:56.578125px;}
.ha{height:59.906250px;}
.h6{height:86.531250px;}
.h2{height:93.187500px;}
.h1{height:106.500000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x2{left:7.200000px;}
.x6{left:48.670547px;}
.x1{left:51.874878px;}
.x17{left:87.429199px;}
.xd{left:112.382309px;}
.xf{left:151.118118px;}
.x5{left:159.122986px;}
.x19{left:161.766541px;}
.x7{left:166.722755px;}
.x18{left:168.966537px;}
.x8{left:193.722755px;}
.x15{left:210.055092px;}
.x16{left:228.055092px;}
.xa{left:327.895874px;}
.x13{left:404.506325px;}
.x14{left:422.506325px;}
.xe{left:443.332947px;}
.xb{left:445.025230px;}
.x3{left:520.989662px;}
.x4{left:547.989662px;}
.x9{left:710.632378px;}
.xc{left:713.890190px;}
.x10{left:727.324135px;}
.x11{left:746.740051px;}
.x12{left:756.946655px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.504000pt;}
._3{width:1.566467pt;}
._2{width:2.971456pt;}
._7{width:4.320007pt;}
._4{width:89.466663pt;}
._6{width:109.733329pt;}
._5{width:111.599996pt;}
._1{width:113.466663pt;}
._9{width:1221.120036pt;}
._8{width:1413.120036pt;}
.fs7{font-size:42.666667pt;}
.fs3{font-size:53.333333pt;}
.fs2{font-size:64.000000pt;}
.fsc{font-size:74.666667pt;}
.fs5{font-size:85.333333pt;}
.fs4{font-size:88.000000pt;}
.fs9{font-size:90.666667pt;}
.fs8{font-size:93.333333pt;}
.fsa{font-size:96.000000pt;}
.fsb{font-size:98.666667pt;}
.fs6{font-size:138.666667pt;}
.fs1{font-size:149.333333pt;}
.fs0{font-size:170.666667pt;}
.y0{bottom:0.000000pt;}
.y4{bottom:24.342908pt;}
.y9{bottom:66.979860pt;}
.yd{bottom:73.240418pt;}
.y3{bottom:73.428571pt;}
.yf{bottom:74.180197pt;}
.ye{bottom:74.559795pt;}
.y1d{bottom:152.697286pt;}
.y1c{bottom:178.297302pt;}
.y1b{bottom:203.897319pt;}
.y2d{bottom:218.548345pt;}
.y1a{bottom:230.897685pt;}
.y2c{bottom:247.348345pt;}
.y19{bottom:306.297343pt;}
.y18{bottom:331.897339pt;}
.y22{bottom:347.073069pt;}
.y23{bottom:352.685161pt;}
.y17{bottom:357.497335pt;}
.y2{bottom:358.736666pt;}
.y21{bottom:375.873067pt;}
.y2b{bottom:382.455734pt;}
.y16{bottom:384.497681pt;}
.y20{bottom:404.673065pt;}
.y2a{bottom:411.255735pt;}
.y1{bottom:412.147471pt;}
.y32{bottom:449.590632pt;}
.y15{bottom:459.897308pt;}
.y1f{bottom:462.273061pt;}
.yc{bottom:463.386373pt;}
.y7{bottom:470.935832pt;}
.y14{bottom:486.897664pt;}
.y1e{bottom:490.760539pt;}
.y26{bottom:506.701402pt;}
.y10{bottom:511.748678pt;}
.yb{bottom:513.186025pt;}
.y31{bottom:515.492063pt;}
.y6{bottom:522.135834pt;}
.y13{bottom:536.697316pt;}
.ya{bottom:538.786031pt;}
.y5{bottom:547.735835pt;}
.y27{bottom:551.522182pt;}
.y30{bottom:554.425402pt;}
.y29{bottom:554.574774pt;}
.y12{bottom:562.297318pt;}
.y11{bottom:589.297670pt;}
.y2f{bottom:593.358732pt;}
.y25{bottom:602.042609pt;}
.y28{bottom:602.466854pt;}
.y24{bottom:644.253113pt;}
.y8{bottom:644.253115pt;}
.y2e{bottom:652.803874pt;}
.h7{height:28.916667pt;}
.h4{height:38.333333pt;}
.h3{height:53.250000pt;}
.hb{height:62.125000pt;}
.h5{height:70.666667pt;}
.h8{height:71.000000pt;}
.h9{height:75.437500pt;}
.ha{height:79.875000pt;}
.h6{height:115.375000pt;}
.h2{height:124.250000pt;}
.h1{height:142.000000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x2{left:9.600000pt;}
.x6{left:64.894063pt;}
.x1{left:69.166504pt;}
.x17{left:116.572266pt;}
.xd{left:149.843079pt;}
.xf{left:201.490824pt;}
.x5{left:212.163981pt;}
.x19{left:215.688721pt;}
.x7{left:222.297007pt;}
.x18{left:225.288717pt;}
.x8{left:258.297007pt;}
.x15{left:280.073456pt;}
.x16{left:304.073456pt;}
.xa{left:437.194499pt;}
.x13{left:539.341766pt;}
.x14{left:563.341766pt;}
.xe{left:591.110596pt;}
.xb{left:593.366974pt;}
.x3{left:694.652883pt;}
.x4{left:730.652883pt;}
.x9{left:947.509837pt;}
.xc{left:951.853587pt;}
.x10{left:969.765513pt;}
.x11{left:995.653402pt;}
.x12{left:1009.262207pt;}
}
